<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   <extension
         point="org.eclipse.jpt.common.core.resourceLocators">
      <resourceLocator
            class="org.maven.ide.eclipse.wtp.jpt.MavenResourceLocator"
            id="mavenResourceLocator"
            priority="high"
            >
         <enablement>
            <with variable="project">
                <and>
                <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.java" forcePluginActivation="true"/>
                <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.m2e.core.maven2Nature" forcePluginActivation="true"/>
                </and>
            </with>
        </enablement>
      </resourceLocator>
   </extension>
</plugin>
