<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="m2e-wtp-e37" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>
<!--location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.sonatype.m2e.antlr.feature.feature.group" version="0.13.0.20110622-1538"/>
<unit id="org.sonatype.m2e.buildhelper.feature.feature.group" version="0.13.0.20110622-1538"/>
<unit id="org.sonatype.m2e.mavenarchiver.pomproperties.feature.feature.group" version="0.13.0.20110622-1538"/>
<unit id="org.sonatype.m2e.modello.feature.feature.group" version="0.13.0.20110622-1538"/>
<unit id="org.sonatype.m2e.plexus.annotations.feature.feature.group" version="0.13.0.20110622-1538"/>
<repository location="https://repository.sonatype.org/content/sites/forge-sites/m2e-extras/0.13.0/S/0.13.0.20110622-1538/"/>
</location-->
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7milestones"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.0.0.20110607-2117"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.0.0.20110607-2117"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.0.0.201106061504"/>
<repository location="https://repository.sonatype.org/content/sites/forge-sites/m2e/1.0.0/N/1.0.0.201106061504/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="3.3.0.v201102200555-777EF8N9tKENNGGHPFMFT6J6879"/>
<unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.3.0.v201102150115-787IFBVApOGQQILMKH_MW8C5CAC"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.3.0.v201102071641-7A78-8DXJRVlHHRC82RFhWaijCYVa6fVckLdoLQh"/>
<unit id="org.eclipse.wst.jsdt_sdk.feature.feature.group" version="1.3.0.v201103031824-47C190OCFLbbKRI3WkZa_mTz-QTFECpQcYSJdJht"/>
<unit id="org.eclipse.jsf_sdk.feature.feature.group" version="3.3.0.v201103022146-775-84JAMFyLCOlPccODkImwY0AKhMXVN4V9Tibl"/>
<unit id="org.eclipse.jst.ws.jaxws.dom_sdk.feature.feature.group" version="1.0.100.v201102200555-4-A78z8FEGpQFNFQSWXLTWiBlG8CA8IEWESK_"/>
<unit id="org.eclipse.jst.ws.jaxws_sdk.feature.feature.group" version="1.1.0.v201104031551-42-90NCFIxTEbjafgN3dBbyXB9OdKTXLwO2Skdw"/>
<unit id="org.eclipse.jst.enterprise_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84gAMM4LKVNAdPBaz0HiCI9_0WXWKfFN8OuE"/>
<unit id="org.eclipse.jst.server_adapters.ext.sdk.feature.feature.group" version="3.3.0.v201102200555-775-84CALJL1HfQJLrDpTkOTV7DdOCEkCgKb5CB9"/>
<unit id="org.eclipse.jst.server_adapters.sdk.feature.feature.group" version="3.3.0.v201102200555-773A78-5BcBz-948367Ck8x4232252A"/>
<unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84F9JLuF0IfIcKHVlKTdDVPMiNWDGM_CCKMJ"/>
<unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="3.3.0.v201102200555-7B7A-99ZJTWeAqSUvdal4U8ejlyfKhhS4z0_U6H2"/>
<unit id="org.eclipse.jst.webpageeditor_sdk.feature.feature.group" version="2.3.4.v201105111126-557781BBfDrJ9CB9LEODMFoApC6986H6N7E5B"/>
<unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.100.v20110303-773A7826HsEnLADiGLTHplG88h9ICTd"/>
<unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.3.0.v201102200555-7E7E-8Sxdj463QDoxz0DUJeVYV-mU9eq1IIQIA9w"/>
<unit id="org.eclipse.wst.xsl_sdk.feature.feature.group" version="1.1.100.v201102200555-638Z99nLz-MkHkbE2B1CbIys9AtYeOnOiZwZFwCj"/>
<repository location="http://download.eclipse.org/webtools/repository/indigo/"/>
</location>
</locations>
</target>
