<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="m2e-wtp-e37" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20110310-1642"/>
<unit id="org.eclipse.wst.common.emf" version="1.2.100.v201101101900"/>
<unit id="org.eclipse.wst.sse.core" version="1.1.600.v201103072156"/>
<unit id="org.eclipse.wst.xml.core" version="1.1.600.v201103092149"/>
<unit id="org.eclipse.wst.sse.ui" version="1.3.0.v201103081945"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.7.0.v20110310-1804"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.6.0.v20110310-1804"/>
<unit id="org.eclipse.wst.xsd.core" version="1.1.600.v201011122042"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.0.v201102200555-7O7IFhJEMi9DwZ0CPsbmPPpz-VRW"/>
<unit id="org.eclipse.epp.usagedata.feature.feature.group" version="1.3.1.R201102081640"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110310-1119"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.7.0.v20110228-9H7oGygGIbXykyi5YYL8z-VO244C"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7milestones"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20110304120314/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="0.13.0.201105031639"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.13.0.201105031639"/>
<repository location="https://repository.sonatype.org/content/sites/forge-sites/m2e/0.13.0/N/0.13.0.201105031639/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.3.0.v201102150115-377DF8s73543C674AAA"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.3.0.v201102200555-377DF8s73543C6F6AAD"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.3.0.v201102200555-7b7IHuQFSK2WE_U389ncrWY7PpMf"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.3.0.v201102200555-7F7AFO-C25TohCfokiz0Z03we-Cb"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.0.v201102200555-7O7IFhJEMi9DwZ0CPsbmPPpz-VRW"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.0.v201102071641-7H7EFZ-DxumTlXt4mjdXgE-eiy04"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.2.0.v201102200555-7S7ZFT0FIpS-8NuhBrBnS9FQCUHU"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.3.0.v201103031824-7F78FVqFBBoPbVSCXSXuk6"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.3.0.v201103022146-7E7I7GF9JgLWRMwSrNCTG"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.100.v201102200555-5-A7AkF7B97HDVDRJZ"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.0.100.v201102200555-7E78AKF8NcJSUKsU4Utal"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.0.v201102200555-777HFHyCcNBDjBeHV4BA8"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.100.v20110303-208Z7w31211419"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHq9xFc8uCJMTBAJLJJ43A"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.3.3.v20110303-4629oB5865F6I3142"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="3.3.0.v201102200555-777EF8N9tKENNGEIMGPJW7G7BBE"/>
<unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.3.0.v201102150115-787IFBVApOGQPIOLGHYNY785BBB"/>
<unit id="org.eclipse.wst.xml_sdk.feature.feature.group" version="3.3.0.v201102071641-7A78-8DXJRVlGEXDE5PdTUmkhEPl"/>
<unit id="org.eclipse.wst.jsdt_sdk.feature.feature.group" version="1.3.0.v201103031824-47C190OCFLa1KRI3WkXbUgcpRbOC"/>
<unit id="org.eclipse.jsf_sdk.feature.feature.group" version="3.3.0.v201103022146-775-84JAMBJLCOlPc_P4j-hMlYAK"/>
<unit id="org.eclipse.jst.ws.jaxws.dom_sdk.feature.feature.group" version="1.0.100.v201102200555-4-A78z8FEGpQFNFQSWXLTWiBlG8C"/>
<unit id="org.eclipse.jst.ws.jaxws_sdk.feature.feature.group" version="1.0.100.v201102200555-4-A790NCFGPQGZibcmN0kEf4y19O"/>
<unit id="org.eclipse.jst.enterprise_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84gAMLxVKVNAdMbdhIV6ZIo0"/>
<unit id="org.eclipse.jst.server_adapters.ext.sdk.feature.feature.group" version="3.3.0.v201102200555-775-84CALJL1HfQJLrDoReOTV7Dd"/>
<unit id="org.eclipse.jst.server_adapters.sdk.feature.feature.group" version="3.3.0.v201102200555-773A78-5BcBz-948367Ck8x42322"/>
<unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.3.0.v201102200555-775-84F9JLtF0IfH0KLWfKSdCWHM"/>
<unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="3.3.0.v201102200555-7B7A-99ZJTWe9pRUz0iWhrV5foDP"/>
<unit id="org.eclipse.jst.webpageeditor_sdk.feature.feature.group" version="2.3.3.v20110303-55581B5DsEBBC7MFNFsIA976G7J4"/>
<unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.100.v20110303-773A7826HsEnLADiGLTHplG88h9I"/>
<unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.3.0.v201102200555-7E7E-8Sxdj463QBwvm2JVbZZF9Hn"/>
<unit id="org.eclipse.wst.xsl_sdk.feature.feature.group" version="1.1.100.v201102200555-558Z98jYpvkvg_9xLlfUNqiyHVRa"/>
<repository location="http://download.eclipse.org/webtools/repository/indigo/"/>
</location>
</locations>
</target>
