<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
  <extension
    point="org.eclipse.m2e.core.lifecycleMappings">
    <lifecycleMapping
      class="org.maven.ide.eclipse.wtp.internal.lifecycle.WarLifecycleMapping"
      id="org.maven.ide.eclipse.wtp.WarLifecycleMapping"
      name="War Build Lifecycle Mapping">
    </lifecycleMapping>
    <lifecycleMapping
      class="org.maven.ide.eclipse.wtp.internal.lifecycle.EjbLifecycleMapping"
      id="org.maven.ide.eclipse.wtp.EjbLifecycleMapping"
      name="Ejb Build Lifecycle Mapping">
    </lifecycleMapping>
    <lifecycleMapping
      class="org.maven.ide.eclipse.wtp.internal.lifecycle.EarLifecycleMapping"
      id="org.maven.ide.eclipse.wtp.EarLifecycleMapping"
      name="Ear Build Lifecycle Mapping">
    </lifecycleMapping>
    <lifecycleMapping
      class="org.maven.ide.eclipse.wtp.internal.lifecycle.RarLifecycleMapping"
      id="org.maven.ide.eclipse.wtp.RarLifecycleMapping"
      name="Rar Build Lifecycle Mapping">
    </lifecycleMapping>
  </extension>
  
   <extension-point id="dependencyConfigurators" name="Dependency Configurators" schema="schema/dependencyConfigurators.exsd"/>

   <extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.configurator"
          class="org.maven.ide.eclipse.wtp.WTPProjectConfigurator"
          name="WTP" />
   </extension>
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.overlay.configurator"
          class="org.maven.ide.eclipse.wtp.OverlayConfigurator"
          name="Overlay" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"/>
    </extension>        
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.warmanifest.configurator"
          class="org.maven.ide.eclipse.wtp.mavenarchiver.WarMavenArchiverConfigurator"
          name="WarManifestConfigurator" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"
          />
    </extension>  
   	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.ejbmanifest.configurator"
          class="org.maven.ide.eclipse.wtp.mavenarchiver.EjbMavenArchiverConfigurator"
          name="EjbManifestConfigurator" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"
          />
    </extension> 
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.earmanifest.configurator"
          class="org.maven.ide.eclipse.wtp.mavenarchiver.EarMavenArchiverConfigurator"
          name="EarManifestConfigurator" 
          />
    </extension>
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.rarmanifest.configurator"
          class="org.maven.ide.eclipse.wtp.mavenarchiver.RarMavenArchiverConfigurator"
          name="RarManifestConfigurator" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"
          />
    </extension>   
    
  	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.maven.ide.eclipse.configuration.wtp.webfragment.configurator"
          class="org.maven.ide.eclipse.wtp.WebFragmentProjectConfigurator"
          name="WebFragmentConfigurator" 
          secondaryTo="org.eclipse.m2e.jdt.javaConfigurator"
          />
    </extension> 
    
   <!-- A workaround to allow to uninstall WTP facets -->   
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      <action type="uninstall" facet="jst.ear" version="[1.2-6.0]">
         <delegate class="org.maven.ide.eclipse.wtp.facets.EarUninstallDelegate"/>
      </action>
      <action type="uninstall" facet="jst.ejb" version="[1.1-3.1]">
         <delegate class="org.maven.ide.eclipse.wtp.facets.EjbUninstallDelegate"/>
      </action>
      <action type="uninstall" facet="jst.web" version="[2.2-3.0]">
         <delegate class="org.maven.ide.eclipse.wtp.facets.WarUninstallDelegate"/>
      </action>
      <action type="uninstall" facet="jst.java" version="[1.3-6.0]">
         <delegate class="org.maven.ide.eclipse.wtp.facets.JavaUninstallDelegate"/>
      </action>
      <action type="uninstall" facet="jst.connector" version="[1.0-1.6]">
         <delegate class="org.maven.ide.eclipse.wtp.facets.RarUninstallDelegate"/>
      </action>
   </extension>
   
   <!-- Project Explorer extensions --> 
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent id="org.maven.ide.eclipse.wtp.navigatorContent"
            contentProvider="org.maven.ide.eclipse.wtp.internal.WTPResourcesContentProvider"
            labelProvider="org.maven.ide.eclipse.wtp.internal.WTPResourcesLabelProvider"
            name="Deployed Resources"
            icon="icons/web-resources.gif"
            activeByDefault="true"
            priority="normal">
       
        <override suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"        
                  policy="InvokeOnlyIfSuppressedExtAlsoVisibleAndActive"/>
          
        <triggerPoints>
          <instanceof value="org.eclipse.core.resources.IProject"/>
        </triggerPoints>
        
        <possibleChildren>
          <instanceof value="org.maven.ide.eclipse.wtp.internal.WTPResourcesNode"/>
        </possibleChildren>
      
        <commonSorter id="org.maven.ide.eclipse.wtp.sorter"
                      class="org.maven.ide.eclipse.wtp.internal.WTPResourcesSorter">
          <parentExpression>
            <instanceof value="org.eclipse.core.resources.IProject"/>
          </parentExpression>
        </commonSorter>
      </navigatorContent>
      
      <!--
      <actionProvider id="org.maven.ide.eclipse.wtp.actionProvider"
             class="org.maven.ide.eclipse.wtp.internal.WebResourcesActionProvider">
         <enablement>
            <or>
              <adapt type="org.eclipse.core.resources.IResource"/>   
            </or>
          </enablement>
      </actionProvider>
      -->
   </extension>
      
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
           <actionExtension pattern="org.maven.ide.eclipse.wtp.actionProvider"/>
         </includes>
      </viewerActionBinding>
      
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.maven.ide.eclipse.wtp.navigatorContent"/>
         </includes>
      </viewerContentBinding>
   </extension> 

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.maven.ide.eclipse.wtp.internal.preferences.MavenWtpPreferenceInitializer"/>
   </extension>
  
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.maven.ide.eclipse.wtp.preferences.MavenWtpPreferencePage"
         category="org.eclipse.m2e.core.preferences.Maven2PreferencePage"
         class="org.maven.ide.eclipse.wtp.internal.preferences.MavenWtpPreferencePage"
         name="WTP integration">
         <keywordReference id="org.eclipse.m2e.core.maven"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      
      <page id="org.maven.ide.eclipse.wtp.preferences.MavenWtpPropertyPage"
            class="org.maven.ide.eclipse.wtp.internal.preferences.MavenWtpPreferencePage"
            name="WTP Integration"
            category="org.eclipse.m2e.core.MavenProjectPreferencePage">
         <filter name="nature" value="org.eclipse.m2e.core.maven2Nature"/>
	    <enabledWhen>
	      <adapt type="org.eclipse.core.resources.IProject">
	        <test 
	          forcePluginActivation="true"
	          property="org.eclipse.wst.common.project.facet.core.projectFacet"
	          value="jst.ear"/>
	      </adapt>
	    </enabledWhen> 
      </page>
   </extension>
   
    <extension point="org.eclipse.core.resources.markers"
         id="org.eclipse.m2e.core.maven2Problem.wtp.overlayError"
         name="Maven Configuration Problem">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="org.eclipse.m2e.core.maven2Problem.wtp.manifestError"
         name="Maven Configuration Problem">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
</plugin>
